body{
    position: relative;
    margin: 0;
    /* margin-left: 50%;
    transform: translate(-50%); */
    width: 1440px;
    height: 2056px;
    
    background: #FFFFFF;
    
    margin: auto;
}
.head{
    position: absolute;
    width: 1440px;
    height: 252px;
    /* left: 0px;
    top: 0px; */

    background: rgba(31, 32, 33, 0.79);
}
.cat_head{
    position: absolute;
    width: 1440px;
    height: 252px;
    left: 0px;
    top: 0px;
    
    background: url(cats_лого.png);
}
.main{
    position: absolute;
    width: 165px;
    height: 39px;
    left: 329px;
    top: 52px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.gallery{
    position: absolute;
    width: 148px;
    height: 39px;
    left: 446px;
    top: 52px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.news{
    position: absolute;
    width: 267px;
    height: 39px;
    left: 567px;
    top: 52px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
     
}
.profile{
    position: absolute;
    width: 148px;
    height: 39px;
    left: 672px;
    top: 54px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
img.up{
    position: absolute;
    height: 50.30241775512695px;
    width: 63.05504608154297px;
    left: 14.9453125px;
    top: 13.8486328125px;
    
}
img.down{
    position: absolute;
    height: 50.30241775512695px;
    width: 63.05587387084961px;
    left: 0px;
    top: 13.8486328125px;
    
}
.logo{
    position: absolute;
    width: 78px;
    height: 78px;
    left: 131px;
    top: 26px;
        
}
.number{
    position: absolute;
    width: 220px;
    height: 29px;
    left: 1092px;
    top: 49px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
}
.call_faster{
    position: absolute;
    width: 148px;
    height: 39px;
    left: 1163px;
    top: 81px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    
}
.find_349_cats{
    position: absolute;
    width: 394px;
    height: 46px;
    left: 128px;
    top: 140px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    
    
}
.sort_by{
    position: absolute;
    width: 160px;
    height: 22px;
    left: 129px;
    top: 289px;
    
    
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
    
}
.by_price{
    height: 22px;
    width: 50px;
    left: 337px;
    top: 289px;

    position: absolute;
    
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.by_age{
    height: 22px;
    width: 86px;
    left: 471px;
    top: 289px;
    
    position: absolute;
    
    color: #000000;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.vector_arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 416px;
    top: 294px;
    

}
img.arrow{
    width: 15px;
    height: 8.81px;
    right: 100%;
    left: -58.75%;

    position: absolute;
    top: 20.62%;
    bottom: -20.62%;
       
}
.vector_arrow_2{
    height: 15px;
    width: 15px;
    left: 596px;
    top: 294px;
    
    position: absolute;
    
}
.show20more{
    height: 17px;
    width: 122px;
    left: 659px;
    top: 1506px;
    position: absolute;
    
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #000000;
}
.box_showmore {
    height: 65px;
    width: 380px;
    left: 530px;
    top: 1482px;

    position: absolute;
    
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 10px;
}
img.arrow_up {
    width: 18.000000000000014px;
    height: 10.574843406677255px;

    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%);
}
.vector_arrow_up {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 1249px;
    top: 1522px;
    transform: rotate(180deg);
    
    background: #6EBBD3;
}
.black_block {
    position: absolute;
    width: 1180px;
    height: 312px;
    left: 130px;
    top: 1630px;
    
    background: #1F2021;
    
}
.beontime {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

    position: absolute;
    width: 367px;
    height: 59px;
    left: 210px;
    top: 1713px;
    
    
    color: #FFFFFF;
    
}
.followand {
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    

    position: absolute;
    width: 401px;
    height: 52px;
    left: 209px;
    top: 1798px;
    
    
    color: #FFFFFF;
}
label.text{
    position: absolute;
    width: 181px;
    height: 17px;
    left: 700px;
    /* top: 1810px; */
    top: 1813px; 

    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
    
}

input{
    position: absolute;
    width: 5px;
    height: 5px;
    left: 668px;
    top: 1814px;
    transform: translate(-50%);
}
label.button{

    position: absolute;
    width: 18px;
    height: 18px;
    left: 664px;
    top: 1810px;
    
    background: #6EBBD3;
    border-radius: 3px;
}
.img_button {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 4px;
    top: 5px;
}
/* input.follow:checked + label.button {
    color: bisque;
    border: 1px solid rgb(41, 41, 41);
  } */
input.Email {
    position: absolute;
    width: 300px;
    height: 65px;
    left: 664px;
    top: 1721px;
    transform: translate(0%);
    
    background: #FFFFFF;
    border-radius: 10px;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #000000;
    word-spacing: normal;
    /* text-transform: none; */
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: #FFFFFF;
    margin: 0em;
    padding: 22px 33px 26px 33px;
    border-width: 0;
    border-style: none;
    border-color: #000000;
    border-image: none;
}
button {
    position: absolute;
    width: 250px;
    height: 65px;
    left: 980px;
    top: 1721px;
    
    background: #6EBBD3;
    border-radius: 10px;
    border-style: none;
    transform: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #FFFFFF;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: #6EBBD3;
    margin: 0em;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: #000000;
    border-image: none;
}
.boddy{
    position: absolute;
    height: 1060px;
    width: 1180px;

    top: 350px;
    left: 130px;
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(2, 520px);
    grid-gap: 20px 20px;
    margin: 0 auto;
}

.grid_cat1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #F3F3F3;
}
button.cat1 {
    position: absolute;
    width: 380px;
    height: 65px;
    margin-top: 455px;
    margin-bottom: 0;
    
    background: #6EBBD3;
    border-radius: 0 0 10px 10px;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    left: auto;
    top: auto;
}
button.cat1_sold {
    position: absolute;
    width: 380px;
    height: 65px;
    margin-top: 455px;
    margin-bottom: 0;
    
    background-color: #1F2021;
    border-radius: 0 0 10px 10px;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    left: auto;
    top: auto;
}
.cat_img_1 {
    position: absolute;
    width: 380px;
    height: 264px;
    background: url(cat_first.png);
}
.cat_img_2 {
    position: absolute;
    width: 380px;
    height: 264px;
    background: url(cat_second.png);
}
.cat_img_3 {
    position: absolute;
    width: 380px;
    height: 264px;
    background: url(cat_third.png);
}
.cat_polosat {
    position: absolute;
    width: 195px;
    height: 29px;
    margin-left: 29px;
    margin-top: 293px;
    
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #000000;    
}
.kakayato_shpilka {
    position: absolute;
    width: 4px;
    height: 26px;
    margin-top: 346px;
    margin-left: 29px;
    
    background: #6EBBD3;
}
.brown_color {
    position: absolute;
    width: 89px;
    height: 32px;
    margin-top: 344px;
    margin-left: 51px;
    
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;    
    
    color: #000000;
    
}
.two_months {
    position: absolute;
    width: 52px;
    height: 20px;
    margin-top: 343px;
    margin-left: 160px;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;    
    
    color: #000000;
}
.vozvrat {
    position: absolute;
    width: 89px;
    height: 19px;
    margin-top: 363px;
    margin-left: 158px;
    
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #000000;
}
.four {
    position: absolute;
    width: 12px;
    height: 20px;
    margin-top: 343px;
    margin-left: 260px;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #000000;
}
.count_legs {
    position: absolute;
    width: 89px;
    height: 19px;
    margin-top: 363px;
    margin-left: 258px;
    
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;    
    
    color: #000000;
}
.price {
    position: absolute;
    width: 149px;
    height: 29px;
    margin-top: 398px;
    margin-left: 29px;
    
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;    
    
    color: #000000;
    
}
.heart {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-top: 34px;
    margin-left: 302px;
    background: url(Vector_heart.png);
    background-position: center;
    background-repeat: no-repeat;
}
.discount {
    position: absolute;
    width: 78px;
    height: 39px;
    margin-top: 34px;
    margin-left: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;

    background: #E62D2D;
    border-radius: 10px;    
}
.grid_cat2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #F3F3F3;
}
.grid_cat3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #F3F3F3;
}
.grid_cat4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #F3F3F3;
}
.grid_cat5 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #F3F3F3;
}
.grid_cat6 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #F3F3F3;
}